// Основные цвета на странице
$primary: #292929;
$secondary : #666666;
$white: #ffff;
$black: #000000;
$Yellow: #FEDB3F;
$social: #B3B3B3;
$bcSectionGray: #F8FAF9;

$btnYellow: #FFD517;



$assetImages: "../images";