// Основные цвета на странице
$primary: #292929;
$secondary : #666666;
$white: #ffff;
$black: #000000;
$Yellow: #FEDB3F;
$social: #B3B3B3;

// background секции gray
$bcSectionGray: #F8FAF9;
$bcheader: #1968B1;
$bcMenuActive: #313131;

// Цвет кнопки
$btnYellow: #FFD517;

// Секция shop
$titeShop: #292929;
$moneyShop: #151515;


//fonts
$htmlFontSize: 18px;

//Путь
$assetImages: "../images";

//Брекпойнты
$breakpoint__xxl: 1230px; //desktop
$breakpoint__xl: 816px; //laptop 990px
$breakpoint__md: 768px; //tablet 768px
$breakpoint__sm: 480px; //mobile
$breakpoint__xs: 460px; //mobileSmall