// Переменные
@import "_vars";

// Сброс всех стандартных настроек
@import "vendor/reset";

// Функции
@import "vendor/px-rem"; // Приобразования px в rem

// Миксины
@import "vendor/fontsText"; // Переменные с шрифтами
@import "vendor/varMixin";
@import "vendor/adaptive"; // Медиа-запросы и брейкпоинты для адаптивной верстки

html {
    font-size: $htmlFontSize;
    height: 100%;

    @include mobile {
        font-size: 3.75vmin;
    }
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    /*Дальше нужно посмотреть какой основной шрифт везде используется*/

    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    line-height: 1.22222; //22px
    background-color: $white;
    color: $secondary;
    overflow: hidden;
    touch-action: none;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    /*Свойства width и height включают в себя значения полей и границ, но не отступов (margin)*/
}

p {
    margin: 0 0 rem(10px);
}

/* blocks */
@import "blocks/wrapper";
@import "blocks/page";
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/burger";
@import "blocks/contacts";
@import "blocks/hero";
@import "blocks/main";
@import "blocks/btn";
@import "blocks/bullet";
@import "blocks/section";
@import "blocks/features";
@import "blocks/shop";
@import "blocks/team";
@import "blocks/menu";
@import "blocks/video";
@import "blocks/reviews";
@import "blocks/form";
@import "blocks/modal";
@import "blocks/controls";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/social";
@import "blocks/onePageScroll";