.bullet {
  display: flex;
  gap: rem(30px);
}

.bullet__item {
  @include flexCentr;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  gap: rem(18px);
}

.bullet__icon {
  display: block;
  width: rem(35px);
  height: rem(35px);
  fill: $white;
  text-align: center;
}

.bullet__text {
  max-width: rem(90px);
}


// Media

@include tablet {
  .bullet {
    display: none;
  }
}