.burger {
  display: none;
  width: rem(26px);

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: rem(45px);
  right: rem(36px);
  z-index: 2;

  // Media
  @include tablet {
    display: block;
  }

  @include mobile {
    top: rem(43px);
    right: rem(10px);
  }
}

.burger__item {
  display: block;
  width: 100%;
  height: rem(4px);
  border-radius: rem(2px);

  background-color: $white;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: background .2s linear;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: rem(4px);
    border-radius: rem(2px);

    background-color: $white;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
  }

  &::before {
    top: rem(10px);
  }

  &::after {
    bottom: rem(9px);
  }

}

.burger.active .burger__item {
  background: none;
}

.burger.active .burger__item::before {
  transform-origin: left top;
  transform: rotate(-45deg) translateX(0);
}

.burger.active .burger__item::after {
  transform-origin: left bottom;
  transform: rotate(45deg) translateX(0);
}