.container {
  max-width: rem(940px);
  margin: 0 auto;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(28px) 0 rem(64px);
}