.controls {
  display: flex;
  gap: rem(20px);

  @include tablet {
    margin-bottom: 11px; // Media 
    gap: rem(14px);
  }

  @include mobile {
    margin-bottom: 15px;

    &:last-child {
      margin: 0 auto;
    }
  }
}

.controls__elem {
  @include flexCentr;
  gap: rem(10px);
  cursor: pointer;
}

.controls__input {
  display: none;

  &:checked~.controls__icon::after,
  &:checked~.controls__icon-symbol::after {
    display: block;
  }
}

.controls__icon-symbol {
  display: inline-block;
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 4px;
  background-color: $white;

  @include tablet {
    width: rem(24px); // Media
    height: rem(24px);
  }

  &::after {
    content: url(#{$assetImages}/cta_form/tick_symbol.png);
    display: none;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
    width: rem(10px);
    height: rem(8px);
  }
}

.controls__icon {
  display: inline-block;
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background-color: $white;

  @include tablet {
    width: rem(25px); // Media
    height: rem(25px);
  }

  &::after {
    content: "";
    border-radius: 50%;
    display: none;
    background: $btnYellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: rem(13px);
    width: rem(13px);
  }
}

.controls__name {
  @include textRegular;
  color: $white;
}