.embed {
    display: block;
    width: rem(662px);
    height: rem(392px);
    position: relative;
    margin: 0 auto;

    @include tablet {
        width: rem(594px); // Media
        height: rem(352px);
        margin-bottom: rem(26px);
    }

    @include mobile {
        width: rem(394px); // Media
        height: rem(233px);
    }

    .video {
        width: 100%;
        height: 100%;
    }

    .player {
        display: flex;
        width: 100%;
        align-items: center;

        background-color: #404040;
        padding: rem(9px) rem(17px);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        .player__start {
            margin-right: rem(29px);

            @include tablet {
                margin-right: rem(23px); // Media
            }

            @include mobile {
                margin-right: rem(17px); // Media
            }
        }

        .player__track {
            margin-right: rem(43px);

            @include tablet {
                margin-right: rem(34px); // Media
            }

            @include mobile {
                margin-right: rem(17px); // Media
            }

            &:last-child {
                margin-right: 0;
            }

            .progress {
                &--volume {
                    width: rem(56px);
                }

                &--track {
                    width: rem(446px);

                    @include tablet {
                        width: rem(400px); // Media
                    }

                    @include mobile {
                        width: rem(230px); // Media
                    }
                }
            }
        }

        .player__volume {
            margin-right: rem(25px);

            @include mobile {
                margin-right: rem(17px); // Media
            }
        }

        .player__icon {
            display: block;
            text-align: center;
            cursor: pointer;
            fill: $white;

            &--play {
                width: rem(11px);
                height: rem(16px);
            }

            &--volume {
                width: rem(14px);
                height: rem(17px);
            }
        }
    }
}