.features {
  display: flex;
  text-align: center;

  // Media
  @include mobile {
    display: block;
    text-align: left;
  }
}

.features__item {
  flex: 1;
  padding: 0 2.7%;
  position: relative;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }

  // Media
  @include tablet {
    padding: 0 1.5%;
  }

  &::before {
    content: url(#{$assetImages}/feature/combined_shape.png);
    position: absolute;
    top: 22%;
    right: 0;
    transform: translateX(50%);

    // Media
    @include tablet {
      display: none;
    }
  }

  // Media
  @include mobile {
    padding: 0;
    display: flex;
    margin-bottom: rem(31px);
  }
}

.features__img {
  margin-bottom: rem(13px);
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  // Media
  @include mobile {
    margin-right: rem(31px);
    flex-shrink: 0;
  }
}

.features__icon {
  display: block;
  width: rem(68px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: $black;
}

.features__title {
  margin-bottom: rem(20px);
  @include textBold;

  // Media
  @include tablet {
    margin-bottom: rem(7px);
  }

  @include mobile {
    margin-bottom: rem(10px);
  }
}

.reatures__text {
  @include textLight;
}