.features {
  display: flex;
  text-align: center;

  @include tablet {
    margin-bottom: rem(10px); // Media
  }

  @include mobile {
    display: block; // Media
    text-align: left;
  }
}

.features__item {
  flex: 1;
  padding: 0 2.7%;
  position: relative;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }

  @include tablet {
    padding: 0 1.5%; // Media
  }

  @include mobile {
    padding: 0; // Media
    display: flex;

    &:first-child {
      margin-bottom: rem(31px);
    }

    &:nth-child(n+2) {
      margin-bottom: rem(43px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &::before {
    content: url(#{$assetImages}/feature/combined_shape.png);
    position: absolute;
    top: 22%;
    right: 0;
    transform: translateX(50%);

    @include tablet {
      display: none; // Media
    }
  }

}

.features__img {
  margin-bottom: rem(13px);
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  background-color: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  @include mobile {
    margin-bottom: 0; // Media
    margin-right: rem(12px);
    flex-shrink: 0;
  }
}

.features__icon {
  display: block;
  width: rem(68px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: $black;
}

.features__title {
  margin-bottom: rem(20px);
  @include textBold;

  @include tablet {
    margin-bottom: rem(7px); // Media
  }

  @include mobile {
    margin-top: rem(9px); // Media
    margin-bottom: rem(10px);
  }
}

.reatures__text {
  @include textLight;

  p {
    @include mobile {
      margin-bottom: 0; // Media
    }
  }
}