footer {
  background-color: $white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer__inner {
  padding: rem(18px) 0;
  display: flex;
  justify-content: space-between;

  @include tablet {
    padding: rem(27px) rem(25px) rem(27px) rem(31px); // Media
  }
}

.footer__address {
  margin-bottom: rem(6px);
}

.footer__text {
  @include subtitleText;
  color: $primary;
  margin-bottom: rem(12px);

  @include tablet {
    margin-bottom: rem(6px);
  }
}

.phoneblack-icon {
  width: rem(12px);
  height: rem(12px);
  fill: $primary;
}

.footer__contacts {
  margin-bottom: rem(20px);

  @include tablet {
    margin-bottom: 0; // Media
  }
}