label,
input,
textarea {
  display: block;
}

.form {
  display: flex;

  @include tablet {
    flex-direction: column; // Media
    align-items: center;
  }

  @include mobile {
    gap: 12px; // Media
  }
}

.form__col {
  flex: 1;
  margin-right: rem(30px);

  @include tablet {
    margin-right: 0; // Media
  }

  @include mobile {
    margin-left: 5px; // Media
  }

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(12px);

  @include tablet {
    margin-bottom: rem(11px); // Media
  }

  @include mobile {
    margin-bottom: 20px; // Media
  }

  &:last-child {
    margin-bottom: 0;

    @include tablet {
      margin-bottom: rem(14px); // Media
    }

    @include mobile {
      margin-bottom: 10px; // Media
    }
  }

  &:nth-child(n+2) {
    margin-bottom: 8px; // Media
  }
}

.form__row-btn {
  margin-top: rem(46px);
  margin-left: rem(-10px);

  @include tablet {
    margin-top: rem(24px); // Media
    margin-left: 0;
  }
}

.form__btn {
  display: flex;
  gap: rem(20px);

  @include tablet {
    margin: 0 auto; // Media
  }
}

.form__item {
  @include textRegular;
  color: $white;
  margin-right: rem(12px);

  @include tablet {
    margin-right: rem(14px); // Media
  }

  @include mobile {
    margin-right: 11px; // Media
  }

  &:last-child {
    margin-right: 0;
  }

  &--contact {
    margin-right: rem(16px);

    @include tablet {
      margin-right: rem(21px); // Media
    }

    @include mobile {
      margin-right: rem(17px); // Media
    }
  }
}

.form__input {
  width: rem(222px);
  height: rem(58px);
  padding: rem(16px) rem(22px);
  background: $white;
  border: 3px solid transparent;
  border-radius: 4px;

  @include inputText;
  outline: none;
  color: $black;

  @include tablet {
    height: rem(36px); // Media
  }

  &:focus {
    border: 3px solid $Yellow;
  }

  &--street {
    width: rem(460px);

    @include tablet {
      width: rem(466px);
    }

    @include mobile {
      width: rem(460px);
    }
  }

  &--house {
    width: 100%;
    width: 106px;
    padding: rem(16px) rem(12px);
  }

  &--textarea {
    margin-bottom: rem(26px);
    width: rem(460px);
    height: rem(152px);
    resize: none;

    @include tablet {
      margin-bottom: rem(18px);
      width: rem(466px);
      height: rem(82px); // Media
    }

    @include mobile {
      width: rem(460px);
      margin-bottom: 0;
    }
  }
}