.header {

  // Media
  @include tablet {
    height: 91px;
    background-color: $bcheader;
  }
}

.header__inner {
  @include flexCentr;
  gap: rem(47px);
  width: 100%;
  height: rem(40px);
  white-space: nowrap;

  // Media
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.header__left {
  width: 6%;

  // Media
  @include tablet {
    padding-left: 4%;
    padding-top: 7%;
  }

  @include mobile {
    padding-left: 2%;
    padding-top: 10%;
  }
}

.header__center {
  width: 76%;
}

.header__right {
  width: 18%;

  // Media
  @include tablet {
    display: none;
  }

  @include mobile {
    padding-top: 10%;
  }
}