.header {
  @include tablet {
    width: 100%;
    height: rem(91px); // Media
    background-color: $bcheader;

  }
}

.fixed-header {
  @include tablet {
    width: 100%;
    height: rem(91px); // Media
    background-color: $bcheader;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.header__inner {
  @include flexCentr;
  gap: rem(47px);
  width: 100%;
  height: rem(40px);
  white-space: nowrap;

  @include tablet {
    display: flex; // Media
    justify-content: space-between;
  }
}


.header__left {
  width: 6%;

  @include tablet {
    padding-left: 4%; // Media
    padding-top: 7%;
  }

  @include mobile {
    padding-left: 2%; // Media
    padding-top: 10%;
  }
}

.fixed-header__logo {
  @include tablet {
    padding-left: 5%; // Media
    padding-top: 3%;
  }

  @include mobile {
    padding-left: 5%; // Media
    padding-top: 5%;
  }
}

.header__center {
  width: 76%;
}

.header__right {
  width: 18%;

  @include tablet {
    display: none; // Media
  }

  @include mobile {
    padding-top: 10%; // Media
  }
}