.main {
  width: 46%;
}

.main__title {
  margin-bottom: rem(17px);
  @include titleText;
  color: $white;
  text-transform: uppercase;
}

.main__subtitle {
  margin-bottom: rem(39px);
  @include subtitleText;
  color: $white;
}


@include tablet {
  .main {
    @include flexColumnCentr;
    align-items: center;
    text-align: center;
    width: 100%;
    flex: 1;
    padding: 0 7%;
  }

  .main__subtitle {
    margin-bottom: rem(44px);
  }
}