.main {
  width: 46%;

  @include tablet {
    @include flexColumnCentr; // Media
    margin-top: 10%;
    align-items: center;
    text-align: center;
    width: 100%;
    flex: 1;
    padding: 0 7%;
  }

  @include mobile {
    margin-top: 0; // Media
    padding: 0 3%;
  }
}

.main__title {
  margin-bottom: rem(17px);
  @include titleText;
  color: $white;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: rem(9px); // Media
  }

  @include mobile {
    font-size: rem(40px); // Media
    line-height: rem(36px);
    margin-bottom: rem(12px);
  }
}

.main__subtitle {
  margin-bottom: rem(39px);
  @include subtitleText;
  color: $white;

  @include tablet {
    margin-bottom: rem(44px); // Media
  }

  @include mobile {
    margin-bottom: rem(43px); // Media
    font-size: rem(18px);
    line-height: rem(20px);
  }
}