.nav {
  @include tablet {
    display: none; // Media
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bcMenuActive;

    &.active {
      display: block;
    }
  }
}

.nav__list {
  @include flexCentr;
  gap: rem(22px);
  flex-wrap: wrap;

  .nav__link {
    @include navLinkText; //fontsText.scss
    text-decoration: none;
    opacity: 1;
    transition: opacity .2s linear;

    &:hover {
      opacity: 0.7;
    }

    @include tablet {
      font-weight: 400; // Media
      font-size: rem(36px);
      line-height: rem(72px);
    }
  }

  @include tablet {
    @include flexColumnCentr; // Media
    padding: 20%;
    gap: 0;
  }
}