/* SECTION */
.section {
  height: 100vh;
  min-height: rem(652px);
  @include flexColumnCentr;

  @include tablet {
    min-height: rem(500px); // Media
  }

  &--features {
    @include tablet {
      margin-top: rem(-4px); // Media
      min-height: rem(1000px);
    }

    @include mobile {
      min-height: rem(707px); // Media
    }
  }

  &--shop {
    background: $bcSectionGray;
    background-size: cover;

    @include tablet {
      max-height: rem(800px); // Media
    }

    @include mobile {
      min-height: rem(816px); // Media
    }
  }

  &--team {
    @include tablet {
      margin-bottom: 19px; // Media удалить
      min-height: rem(1000px);
    }

    @include mobile {
      margin-bottom: -34px; //удалить
      min-height: rem(756px); // Media
    }
  }

  &--slider {
    @include tablet {
      min-height: rem(908px); // Media
    }

    @include mobile {
      min-height: rem(634px); // Media

      img {
        height: rem(634px); // Media
      }
    }
  }

  &--reviews {
    @include tablet {
      min-height: rem(990px); // Media
    }

    @include mobile {
      margin-top: rem(-27px);
      min-height: rem(800px); // Media
    }
  }

  &--video {
    background: $bcSectionGray;
    background-size: cover;

    @include tablet {
      max-height: rem(593px); // Media
    }

    @include mobile {
      max-height: rem(511px); // Media
    }
  }

  &--cta {
    background: #2B2B2B url(#{$assetImages}/cta_form/bg_cta.jpg) center no-repeat;
    background-size: cover;

    @include tablet {
      background: url(#{$assetImages}/cta_form/cta_tablet.jpg) center no-repeat;
      background-size: cover;
      min-height: rem(975px); // Media
    }

    @include mobile {
      min-height: 766px; // Media
    }
  }

  &--map {
    position: relative;
    background: url(#{$assetImages}/map/map.jpg) center no-repeat;
    background-size: cover;

    @include tablet {
      background: url(#{$assetImages}/map/map_tablet.jpg) center no-repeat;
      background-size: cover;
      max-height: rem(617px); // Media
    }
  }
}




/* HEADER */
.sestion__header {
  text-align: center;
  margin-bottom: rem(49px);

  // Media
  @include tablet {
    margin-bottom: rem(49px);
  }

  &--features {
    @include mobile {
      margin-bottom: rem(54px);
    }
  }

  &--reviews {
    margin-bottom: rem(32px);

    @include mobile {
      margin-bottom: rem(26px);
    }
  }

  &--video {
    margin-bottom: rem(31px);

    @include tablet {
      margin-bottom: rem(40px); // Media
    }

    @include mobile {
      margin-top: rem(32px); // Media
    }
  }

  &--cta {
    margin-bottom: rem(59px);

    @include tablet {
      margin-bottom: rem(30px); // Media
    }

    @include mobile {
      margin-top: -30px; // Media
      margin-bottom: 39px;
    }
  }
}

/* TITLE */
.section__title {
  @include titleText;
  color: $primary;
  text-transform: uppercase;
  margin-bottom: rem(17px);

  // Media
  @include tablet {
    margin-bottom: rem(16px);
  }

  @include mobile {
    margin-bottom: rem(6px);
    font-size: rem(40px);
    line-height: 1.11111; //36px

  }

  &--cta {
    color: $white;
    margin-bottom: rem(21px);

    @include mobile {
      margin-bottom: 0;
    }
  }

  &--video {
    color: $primary;
  }
}

/* SUBTITLE */
.section__subtitle {
  @include textRegular;
  color: $secondary;
  padding: 0 27%;

  // Media
  @include tablet {
    padding: 0 20%;
  }

  @include mobile {
    padding: 0 3%;
  }
}