/* SECTION */
.section {
  height: 100vh;
  min-height: rem(652px);
  @include flexColumnCentr;
}

.section--cta {
  background: #2B2B2B url(#{$assetImages}/cta_form/bg_cta.jpg) center no-repeat;
  background-size: cover;
}

.section--map {
  position: relative;
  background: url(#{$assetImages}/map/map.jpg) center no-repeat;
  background-size: cover;
}

.section--video {
  background: $bcSectionGray;
  background-size: cover;
}

/* HEADER */
.sestion__header {
  text-align: center;
  margin-bottom: rem(49px);
}

.sestion__header--reviews {
  margin-bottom: rem(32px);
}

.sestion__header--cta {
  margin-bottom: rem(59px);
}

.sestion__header--video {
  margin-bottom: rem(31px);
}

/* TITLE */
.section__title {
  @include titleText;
  color: $primary;
  text-transform: uppercase;
  margin-bottom: rem(17px);
}

.section__title--cta {
  color: $white;
  margin-bottom: rem(59px);
}

.section__title--video {
  color: $primary;
}

/* SUBTITLE */
.section__subtitle {
  @include textRegular;
  color: $secondary;
  padding: 0 27%;
}


@include tablet {
  .section__title {
    margin-bottom: rem(9px);
  }

  .section__subtitle {
    padding: 0;
  }
}