.section--shop {
  background: $bcSectionGray;
  background-size: cover;
}

.shop__slider {
  display: flex;
  position: relative;

  @include tablet {
    display: block; // Media
  }
}

.shop__slider-container {
  overflow: hidden;
}

.shop__slider-track {
  display: flex;
  transition: .2s;
}

.shop__item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  gap: rem(57px);

  @include tablet {
    display: block; // Media
    gap: 0;
    text-align: center;
  }
}

.shop__product {
  @include tablet {
    display: block; // Media
    margin: 0 auto rem(-40px);

    .shop__img {
      width: rem(318px);
      height: rem(417px);
    }
  }

  @include mobile {
    margin: 0 auto;

    .shop__img {
      width: rem(253px); // Media
      height: rem(331px);
    }
  }
}

.shop__content {
  display: block;
  margin-top: rem(14px);

  @include tablet {
    margin-top: rem(36px); // Media
  }

  &-title {
    margin-bottom: rem(25px);
    @include titleShop;
    text-transform: uppercase;
    color: $titeShop;

    @include tablet {
      font-size: rem(30px); // Media
      line-height: 1.2; //36px
      margin: 0 auto rem(15px);
    }
  }

  &-text {
    margin-bottom: rem(24px);
    width: 100%;
    max-width: rem(368px);
    @include textRegular;
    color: $secondary;

    @include tablet {
      max-width: rem(528px); // Media
      max-height: rem(88px);
      margin: 0 auto rem(24px);
      overflow: hidden;
    }

    @include mobile {
      max-width: rem(380px); // Media
      max-height: rem(110px);
      margin-bottom: rem(22px);
      overflow: hidden;
    }
  }

  &-parameter {
    margin-bottom: rem(25px);
    display: flex;
    gap: rem(52px);

    @include tablet {
      margin-left: rem(30px); // Media
      justify-content: center;
      align-items: center;
    }

    @include mobile {
      margin-bottom: rem(22px); // Media
    }

    .content-parameter__item {
      @include tablet {
        text-align: left; // Media
      }

      .content-parameter__title {
        @include textRegular;
        color: $secondary;
      }

      .content-parameter__characteristic {
        @include navLinkText;
        color: $black;
      }
    }
  }

  &-price {
    display: flex;
    align-items: center;
    gap: rem(59px);

    @include tablet {
      justify-content: center; // Media
      align-items: center;
      margin-bottom: rem(50px);
      gap: rem(40px);
    }

    @include mobile {
      margin-bottom: rem(74px);
      gap: rem(30px);
    }
  }

  &-money {
    @include moneyShop;
    text-transform: uppercase;
    color: $moneyShop;
  }
}

.shop__parameters {
  width: rem(91px);
  height: rem(91px);
  background: #3A587E;
  border-radius: rem(4px);
  margin-bottom: rem(52px);

  color: $white;
  text-align: center;
  box-sizing: border-box;
  padding: rem(18px) 0;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: rem(-2px);
    left: rem(72px);
    width: rem(20px);
    height: rem(110px);
  }

  &:hover &-info {
    left: 100%;
    opacity: 1;
  }

  &-icon {
    width: rem(38px);
    height: rem(38px);
    fill: $white;
  }

  &-text {
    font-weight: 700;
    font-size: rem(14px);
    line-height: 1.214; //17px
    text-transform: uppercase;
  }

  &-info {
    opacity: 0;
    width: rem(273px);
    height: rem(291px);

    background: rgba(255, 255, 255, 0.8);
    box-shadow: rem(4px) rem(4px) rem(40px) rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(40px);
    border-radius: rem(4px);

    position: absolute;
    top: 0;
    left: rem(-9999px);
    z-index: 1;
    transition: opacity .5s linear;

    &__content {
      padding: rem(25px) rem(5px) rem(31px) rem(30px);
    }

    &__item {
      display: flex;
      align-items: center;
      text-align: center;
      margin-bottom: rem(20px);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__icon {
      width: rem(24px);
      height: rem(32px);
      fill: #010002;
      margin-right: rem(16px);
    }

    &__title {
      font-weight: 500;
      font-size: rem(16px);
      line-height: 1.5; //24px
      color: $black;
      margin-right: rem(48px);
    }

    &__text {
      font-weight: 400;
      font-size: rem(16px);
      line-height: 1.5; //24px
      color: $black;
    }

    &__content &__item:nth-child(2) {
      .shop__parameters-info__icon {
        width: rem(21px);
        height: rem(32px);
        margin-right: rem(18px);
      }

      .shop__parameters-info__title {
        margin-right: rem(30px);
      }
    }

    &__content &__item:nth-child(3) {
      .shop__parameters-info__title {
        margin-right: rem(95px);
      }
    }

    &__content &__item:nth-child(4) {
      .shop__parameters-info__icon {
        width: rem(32px);
        height: rem(32px);
        margin-right: rem(12px);
        margin-left: rem(-4px);
      }

      .shop__parameters-info__title {
        margin-right: rem(65px);
      }
    }

    &__content &__item:nth-child(5) {
      .shop__parameters-info__icon {
        width: rem(32px);
        height: rem(32px);
        margin-right: rem(12px);
        margin-left: rem(-4px);
      }

      .shop__parameters-info__title {
        margin-right: rem(120px);
      }
    }
  }

  @include tablet {
    display: none; // Media
  }
}

// Стрелочки вперед и назад

.slider__carousel-btn {
  font-size: 0;
  color: $black;
  cursor: pointer;

  position: absolute;
  top: 48%;
  z-index: 1;
  transform: translateY(-50%);

  @include tablet {
    top: 29%; // Media
  }

  @include mobile {
    top: 24%; // Media
  }

  &::after {
    content: "";
    display: block;
    width: rem(23px);
    height: rem(23px);

    border-top: rem(4px) solid $black;
    border-left: rem(4px) solid $black;
    border-radius: rem(4px);
  }

  &:hover::after {
    border-top: rem(4px) solid $Yellow;
    border-left: rem(4px) solid $Yellow;
  }

  &--prev {
    left: rem(-78px);
    transform: rotate(-45deg);

    @include tablet {
      left: rem(156px); // Media
    }

    @include mobile {
      left: rem(17px); // Media
    }
  }

  &--next {
    right: rem(47px);
    transform: rotate(135deg);

    @include tablet {
      right: rem(160px); // Media
    }

    @include mobile {
      right: rem(17px); // Media
    }
  }
}