<ul class="bullet">
  <li class="bullet__item">
    <svg class="bullet__icon">
      <use xlink:href="./assets/images/sprite/sprite.svg#surfboard"></use>
    </svg>
    <div class="bullet__text">Уникальный дизайн</div>
  </li>
  <li class="bullet__item">
    <svg class="bullet__icon">
      <use xlink:href="./assets/images/sprite/sprite.svg#circularMachine"></use>
    </svg>
    <div class="bullet__text">Прочные материалы</div>
  </li>
  <li class="bullet__item">
    <svg class="bullet__icon">
      <use xlink:href="./assets/images/sprite/sprite.svg#truck"></use>
    </svg>
    <div class="bullet__text">Быстрая доставка</div>
  </li>
</ul>
