<ul class="bullet">
  <li class="bullet__item">
    <img
      class="bullet__icon"
      src="assets/images/main/bullet_icon_1.png"
      alt="bullet"
    />
    <div class="bullet__text">Уникальный дизайн</div>
  </li>
  <li class="bullet__item">
    <img
      class="bullet__icon"
      src="assets/images/main/bullet_icon_3.png"
      alt="bullet"
    />
    <div class="bullet__text">Прочные материалы</div>
  </li>
  <li class="bullet__item">
    <img
      class="bullet__icon"
      src="assets/images/main/bullet_icon_2.png"
      alt="bullet"
    />
    <div class="bullet__text">Быстрая доставка</div>
  </li>
</ul>
