<section class="section">
  <div class="container">
    <div class="sestion__header">
      <h2 class="section__title">почему Surfboard?</h2>
      <h3 class="section__subtitle">
        Мы создаем уникальные и качественные доски из прочных и экологичных
        материалов.
      </h3>
    </div>
    <ul class="features">
      <li class="features__item">
        <div class="features__img">
          <img
            class="features__icon"
            src="assets/images/feature/feat_1.png"
            alt="Perfect Fit"
          />
        </div>
        <div class="features__content">
          <h3 class="features__title">Perfect Fit</h3>
          <div class="reatures__text">
            <p>
              Мы создаем доски по индивидуальным замерам. Мы учитываем при
              создании ваш рост, вес и уровень подготовки.
            </p>
          </div>
        </div>
      </li>
      <li class="features__item">
        <div class="features__img">
          <img
            class="features__icon"
            src="assets/images/feature/feat_2.png"
            alt="Strong"
          />
        </div>
        <div class="features__content">
          <h3 class="features__title">Strong</h3>
          <div class="reatures__text">
            <p>
              Мы используем только качественные и экологичные материалы. Ваша
              доска прослужит вам долгие годы.
            </p>
          </div>
        </div>
      </li>
      <li class="features__item">
        <div class="features__img">
          <img
            class="features__icon"
            src="assets/images/feature/feat_3.png"
            alt="Unique"
          />
        </div>
        <div class="features__content">
          <h3 class="features__title">Unique</h3>
          <div class="reatures__text">
            <p>
              Вы станете обладателем уникального серфборда. Доска будет
              выполнена по вашему уникальному дизайну.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
