<section class="section section--features">
  <div class="container container--features">
    <div class="sestion__header sestion__header--features">
      <h2 class="section__title">почему Surfboard?</h2>
      <h3 class="section__subtitle">
        Мы создаем уникальные и качественные доски из прочных и экологичных
        материалов.
      </h3>
    </div>
    <ul class="features">
      <li class="features__item">
        <div class="features__img">
          <svg class="features__icon">
            <use xlink:href="./assets/images/sprite/sprite.svg#feat_1"></use>
          </svg>
        </div>
        <div class="features__content">
          <h3 class="features__title">Perfect Fit</h3>
          <div class="reatures__text">
            <p>
              Мы создаем доски по индивидуальным замерам. Мы учитываем при
              создании ваш рост, вес и уровень подготовки.
            </p>
          </div>
        </div>
      </li>
      <li class="features__item">
        <div class="features__img">
          <svg class="features__icon">
            <use xlink:href="./assets/images/sprite/sprite.svg#feat_2"></use>
          </svg>
        </div>
        <div class="features__content">
          <h3 class="features__title">Strong</h3>
          <div class="reatures__text">
            <p>
              Мы используем только качественные и экологичные материалы. Ваша
              доска прослужит вам долгие годы.
            </p>
          </div>
        </div>
      </li>
      <li class="features__item">
        <div class="features__img">
          <svg class="features__icon">
            <use xlink:href="./assets/images/sprite/sprite.svg#feat_3"></use>
          </svg>
        </div>
        <div class="features__content">
          <h3 class="features__title">Unique</h3>
          <div class="reatures__text">
            <p>
              Вы станете обладателем уникального серфборда. Доска будет
              выполнена по вашему уникальному дизайну.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
