<header class="header">
  <div class="header__inner">
    <div class="header__left">
      <img
        class="header__logo"
        src="assets/images/header/logo.png"
        alt="Surfboard logo"
      />
    </div>
    <div class="header__center">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Серфборды</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Команда</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Меню</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Отзывы</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Как мы работаем</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Контакты </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__right">
      <a
        href="https://wa.me/79529886052?text=Здравствуйте%2C+у+меня+есть+вопрос"
        class="contacts__phone"
        target="_blank"
      >
        <img src="assets/images/header/tel_icon.png" alt="телефон" />
        8 800 903 90 90
      </a>
    </div>
  </div>
</header>
