<section
  data-sidemenu-theme="white"
  data-section-id="menu"
  class="section section--menu"
>
  <h2 class="section__title section__title--menu">Меню</h2>

  <ul class="menu__accordion" id="horixontalMenu">
    <li class="menu__item">
      <a
        href="#"
        class="menu__button"
        style="background-image: url(assets/images/menu_accordion/menu_1.jpg)"
      >
        <img
          class="menu__button-img"
          src="assets/images/menu_accordion/menu_1.jpg"
          alt="Лонгборды"
        />
        <div class="menu__button-text">Лонгборды</div>
      </a>
      <div class="menu__content">
        <p class="menu__content-text">
          Устойчивая доска для новичков. На них легко лежать, сидеть, грести,
          разгребаться на волны и ехать. Размер и плавучесть доски позволяет
          брать очень маленькие и пологие волны и не спеша, не прилагая особых
          усилий ехать по ним.
        </p>
      </div>
    </li>
    <li class="menu__item">
      <a
        href="#"
        class="menu__button"
        style="background-image: url(assets/images/menu_accordion/menu_2.jpg)"
      >
        <img
          class="menu__button-img"
          src="assets/images/menu_accordion/menu_2.jpg"
          alt="Шортборды"
        />
        <div class="menu__button-text">Шортборды</div>
      </a>
      <div class="menu__content">
        <p class="menu__content-text">
          Устойчивая доска для новичков. На них легко лежать, сидеть, грести,
          разгребаться на волны и ехать. Размер и плавучесть доски позволяет
          брать очень маленькие и пологие волны и не спеша, не прилагая особых
          усилий ехать по ним.
        </p>
      </div>
    </li>
    <li class="menu__item">
      <a
        href="#"
        class="menu__button"
        style="background-image: url(assets/images/menu_accordion/menu_3.jpg)"
      >
        <img
          class="menu__button-img"
          src="assets/images/menu_accordion/menu_3.jpg"
          alt="Софттопы"
        />
        <div class="menu__button-text">Софттопы</div>
      </a>
      <div class="menu__content">
        <p class="menu__content-text">
          Устойчивая доска для новичков. На них легко лежать, сидеть, грести,
          разгребаться на волны и ехать. Размер и плавучесть доски позволяет
          брать очень маленькие и пологие волны и не спеша, не прилагая особых
          усилий ехать по ним.
        </p>
      </div>
    </li>
  </ul>
</section>
