<nav class="fixed-menu">
  <ul class="fixed-menu__list">
    <li class="fixed-menu__item fixed-menu__item--active">
      <a href="#" class="fixed-menu__link fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" class="fixed-menu__link"></a>
    </li>
  </ul>
</nav>
