<nav class="fixed-menu">
  <ul class="fixed-menu__list">
    <li class="fixed-menu__item fixed-menu__item--active">
      <a href="#" data-scroll-to="hero" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" data-scroll-to="features" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" data-scroll-to="shop" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" data-scroll-to="team" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" data-scroll-to="menu" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" data-scroll-to="reviews" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" data-scroll-to="video" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" data-scroll-to="form" class="fixed-menu__link"></a>
    </li>
    <li class="fixed-menu__item">
      <a href="#" data-scroll-to="map" class="fixed-menu__link"></a>
    </li>
  </ul>
</nav>
