<section class="section section--reviews">
  <div class="container container--reviews">
    <div class="sestion__header sestion__header--reviews">
      <h2 class="section__title">отзывы</h2>
    </div>

    <div class="reviews">
      <div class="slider slider--reviews">
        <div class="slider-line">
          <div class="slider__track">
            <div class="slider__item">
              <div class="slider__item__photo">
                <img
                  class="slider__item__avatar"
                  src="assets/images/reviews/reviews_1.jpg"
                  alt="Ольга Макарова"
                />
              </div>
              <div class="slider__info">
                <h3 class="slider__info-title">Лучший дизайн</h3>
                <p class="slider__info-text">
                  Я увидела доски на сайте и влюбилась в их дизайн. К летнему
                  сезону я заказала себе доску в SurfBoard. Дизайнер команды -
                  волшебница! Она учла все мои предпочтения и комментарии. В
                  итоге получился прекрасный дизайн. А я катаюсь на доске,
                  которая мне нравится)
                </p>
                <h4 class="slider__info-name">Ольга Макарова</h4>
              </div>
            </div>
          </div>
          <div class="slider__track">
            <div class="slider__item">
              <div class="slider__item__photo">
                <img
                  class="slider__item__avatar"
                  src="assets/images/reviews/reviews_2.jpg"
                  alt="Марк Брюлов"
                />
              </div>
              <div class="slider__info">
                <h3 class="slider__info-title">Нереальная скорость</h3>
                <p class="slider__info-text">
                  Я занимаюсь профессиональным спортом. Доверил изготовление
                  доски для соревнований ребятам из Surfboard и не пожалел: 1
                  место на соревнованиях. Нереальная скорость, устойчивая,
                  удобная и легкая: всё что нужно для победы на соревнованиях!
                </p>
                <h4 class="slider__info-name">Марк Брюлов</h4>
              </div>
            </div>
          </div>
          <div class="slider__track">
            <div class="slider__item">
              <div class="slider__item__photo">
                <img
                  class="slider__item__avatar"
                  src="assets/images/reviews/reviews_3.jpg"
                  alt="Василий Поперечный"
                />
              </div>
              <div class="slider__info">
                <h3 class="slider__info-title">Устойчивость и безопасность</h3>
                <p class="slider__info-text">
                  Я заказывал доски для своих детей. Мне было важно, чтобы они
                  были устойчивые, так как безопасность детей на первом месте.
                  Доски были изготовлены по индивидуальным замерам с учетом
                  роста и веса каждого ребенка. Теперь дети катаются и им
                  нравится!
                </p>
                <h4 class="slider__info-name">Василий Поперечный</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-dots">
        <span class="slider-dots__item" onclick="currentSlide(1)">
          <img src="assets/images/reviews/reviews_1.jpg" alt="Ольга Макарова" />
        </span>
        <span class="slider-dots__item" onclick="currentSlide(2)">
          <img src="assets/images/reviews/reviews_2.jpg" alt="Марк Брюлов" />
        </span>
        <span class="slider-dots__item" onclick="currentSlide(3)">
          <img
            src="assets/images/reviews/reviews_3.jpg"
            alt="Василий Поперечный"
        /></span>
      </div>
    </div>
  </div>
</section>
