<section class="section section--shop">
  <div class="container">
    <div class="shop__slider">
      <div class="shop__slider__container">
        <div class="shop__slider__track">
          <div class="shop__item">
            <div class="shop__product">
              <img
                class="shop__img"
                src="assets/images/shop/product_1.png"
                alt="доска для серфинга Лонгборд 2.0"
              />
            </div>
            <div class="shop__content">
              <div class="shop__parameters">
                <svg class="shop__parameters-icon">
                  <use
                    xlink:href="./assets/images/sprite/sprite.svg#shopParametrs"
                  ></use>
                </svg>
                <div class="shop__parameters-text">параметры</div>
              </div>
              <div class="shop__parameters-info" data-focus="focus-1">
                <ul class="shop__parameters-info__content">
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#parameter_1"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Длина доски</h4>
                    <h3 class="shop__parameters-info__text">от 2,5 м</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#parameter_2"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Ширина доски</h4>
                    <h3 class="shop__parameters-info__text">от 40 см</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#thickness"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Толщина</h4>
                    <h3 class="shop__parameters-info__text">8 см</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#lifeTime"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Срок службы</h4>
                    <h3 class="shop__parameters-info__text">5 лет</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#weight"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Вес</h4>
                    <h3 class="shop__parameters-info__text">7-8 кг</h3>
                  </li>
                </ul>
              </div>
              <h3 class="shop__content-title">Лонгборд 2.0.</h3>
              <p class="shop__content-text">
                Устойчивая доска для новичков. На них легко лежать, сидеть,
                грести, разгребаться на волны и ехать. Размер и плавучесть доски
                позволяет брать очень маленькие и пологие волны и не спеша, не
                прилагая особых усилий ехать по ним.
              </p>
              <div class="shop__content-parameter">
                <div class="content-parameter__item">
                  <div class="content-parameter__title">Длина доски</div>
                  <div class="content-parameter__characteristic">
                    от 2,5 метров
                  </div>
                </div>
                <div class="content-parameter__item">
                  <div class="content-parameter__title">Ширина доски</div>
                  <div class="content-parameter__characteristic">
                    от 40 сантиметров
                  </div>
                </div>
              </div>
              <div class="shop__content-price">
                <div class="shop__content-money">7000 ₽</div>
                <button type="submit" class="btn btn--yellow">Заказать</button>
              </div>
            </div>
          </div>
          <div class="shop__item">
            <div class="shop__product">
              <img
                class="shop__img"
                src="assets/images/shop/product_2.png"
                alt="доска для серфинга Лонгборд 2.0"
              />
            </div>
            <div class="shop__content">
              <div class="shop__parameters">
                <svg class="shop__parameters-icon">
                  <use
                    xlink:href="./assets/images/sprite/sprite.svg#shopParametrs"
                  ></use>
                </svg>
                <div class="shop__parameters-text">параметры</div>
              </div>
              <div class="shop__parameters-info">
                <ul class="shop__parameters-info__content">
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#parameter_1"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Длина доски</h4>
                    <h3 class="shop__parameters-info__text">от 1,5 м</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#parameter_2"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Ширина доски</h4>
                    <h3 class="shop__parameters-info__text">от 30 см</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#thickness"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Толщина</h4>
                    <h3 class="shop__parameters-info__text">8 см</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#lifeTime"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Срок службы</h4>
                    <h3 class="shop__parameters-info__text">5 лет</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#weight"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Вес</h4>
                    <h3 class="shop__parameters-info__text">7-8 кг</h3>
                  </li>
                </ul>
              </div>
              <h3 class="shop__content-title">Шортборд</h3>
              <p class="shop__content-text">
                Самые быстрые доски для профессионалов. Размеры шортбордов
                позволяют быстро набирать скорость, делать различные трюки на
                волне, включая резкие повороты и развороты, флоатеры (проезды по
                самому гребню волны), различные прыжки с вращениями или без, а
                также катание в трубах.
              </p>
              <div class="shop__content-parameter">
                <div class="content-parameter__item">
                  <div class="content-parameter__title">Длина доски</div>
                  <div class="content-parameter__characteristic">
                    от 1,5 метров
                  </div>
                </div>
                <div class="content-parameter__item">
                  <div class="content-parameter__title">Ширина доски</div>
                  <div class="content-parameter__characteristic">
                    от 30 сантиметров
                  </div>
                </div>
              </div>
              <div class="shop__content-price">
                <div class="shop__content-money">12000 ₽</div>
                <button type="submit" class="btn btn--yellow">Заказать</button>
              </div>
            </div>
          </div>
          <div class="shop__item">
            <div class="shop__product">
              <img
                class="shop__img"
                src="assets/images/shop/product_1.png"
                alt="доска для серфинга Лонгборд 2.0"
              />
            </div>
            <div class="shop__content">
              <div class="shop__parameters">
                <svg class="shop__parameters-icon">
                  <use
                    xlink:href="./assets/images/sprite/sprite.svg#shopParametrs"
                  ></use>
                </svg>
                <div class="shop__parameters-text">параметры</div>
              </div>
              <div class="shop__parameters-info">
                <ul class="shop__parameters-info__content">
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#parameter_1"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Длина доски</h4>
                    <h3 class="shop__parameters-info__text">от 2,5 м</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#parameter_2"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Ширина доски</h4>
                    <h3 class="shop__parameters-info__text">от 40 см</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#thickness"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Толщина</h4>
                    <h3 class="shop__parameters-info__text">8 см</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#lifeTime"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Срок службы</h4>
                    <h3 class="shop__parameters-info__text">5 лет</h3>
                  </li>
                  <li class="shop__parameters-info__item">
                    <svg class="shop__parameters-info__icon">
                      <use
                        xlink:href="./assets/images/sprite/sprite.svg#weight"
                      ></use>
                    </svg>
                    <h4 class="shop__parameters-info__title">Вес</h4>
                    <h3 class="shop__parameters-info__text">7-8 кг</h3>
                  </li>
                </ul>
              </div>
              <h3 class="shop__content-title">Лонгборд 2.0</h3>
              <p class="shop__content-text">
                Устойчивая доска для новичков. На них легко лежать, сидеть,
                грести, разгребаться на волны и ехать. Размер и плавучесть доски
                позволяет брать очень маленькие и пологие волны и не спеша, не
                прилагая особых усилий ехать по ним.
              </p>
              <div class="shop__content-parameter">
                <div class="content-parameter__item">
                  <div class="content-parameter__title">Длина доски</div>
                  <div class="content-parameter__characteristic">
                    от 2,5 метров
                  </div>
                </div>
                <div class="content-parameter__item">
                  <div class="content-parameter__title">Ширина доски</div>
                  <div class="content-parameter__characteristic">
                    от 40 сантиметров
                  </div>
                </div>
              </div>
              <div class="shop__content-price">
                <div class="shop__content-money">7000 ₽</div>
                <button type="submit" class="btn btn--yellow">Заказать</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shop__slider__btn">
        <a class="sliderCarousel__btn sliderCarousel__btn--prev">Prev</a>
        <a class="sliderCarousel__btn sliderCarousel__btn--next">Next</a>
      </div>
    </div>
  </div>
</section>
