<section class="section section--team">
  <div class="container">
    <div class="sestion__header sestion__header--team">
      <h2 class="section__title section__title--team">команда</h2>
    </div>

    <ul class="team">
      <li class="team__card">
        <div class="team__photo">
          <img
            class="team__pic"
            src="assets/images/team/avatar_1.jpg"
            alt="Борис Федорович"
          />
        </div>
        <a href="#" class="team__name has-name">Борис Федорович</a>
        <div class="team__desc">
          <div class="team__content">
            <div class="team__photo team__photo--mobile">
              <img
                class="team__pic"
                src="assets/images/team/avatar_1.jpg"
                alt="Борис Федорович"
              />
            </div>
            <div class="team__prof">Главный технолог</div>
            <div class="team__text">
              Отвечает за материалы и разработку досок
            </div>
          </div>
        </div>
      </li>
      <li class="team__card">
        <div class="team__photo">
          <img
            class="team__pic"
            src="assets/images/team/avatar_2.jpg"
            alt="Ольга Невзорова"
          />
        </div>
        <a href="#" class="team__name has-name">Ольга Невзорова</a>
        <div class="team__desc">
          <div class="team__content">
            <div class="team__photo team__photo--mobile">
              <img
                class="team__pic"
                src="assets/images/team/avatar_2.jpg"
                alt="Ольга Невзорова"
              />
            </div>
            <div class="team__prof">Дизайнер</div>
            <div class="team__text">Создает дизайн серфбордов</div>
          </div>
        </div>
      </li>
      <li class="team__card">
        <div class="team__photo">
          <img
            class="team__pic"
            src="assets/images/team/avatar_3.jpg"
            alt="Ингвар Нильсон"
          />
        </div>
        <a href="#" class="team__name has-name">Ингвар Нильсон</a>
        <div class="team__desc">
          <div class="team__content">
            <div class="team__photo team__photo--mobile">
              <img
                class="team__pic"
                src="assets/images/team/avatar_3.jpg"
                alt="Ингвар Нильсон"
              />
            </div>
            <div class="team__prof">Спортсмен</div>
            <div class="team__text">Участвует в разработке серфбордов</div>
          </div>
        </div>
      </li>
      <li class="team__card">
        <div class="team__photo">
          <img
            class="team__pic"
            src="assets/images/team/avatar_4.jpg"
            alt="Екатерина Иванова"
          />
        </div>
        <a href="#" class="team__name has-name">Екатерина Иванова</a>
        <div class="team__desc">
          <div class="team__content">
            <div class="team__photo team__photo--mobile">
              <img
                class="team__pic"
                src="assets/images/team/avatar_4.jpg"
                alt="Екатерина Иванова"
              />
            </div>
            <div class="team__prof">Тестировщик</div>
            <div class="team__text">Отвечает за разработку новых продуктов</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
