<section class="section section--team">
  <div class="container">
    <div class="sestion__header">
      <h2 class="section__title">команда</h2>
    </div>
  </div>
  <ul class="team">
    <li class="team__items">Борис Федорович</li>
    <li class="team__items">Ольга Невзорова</li>
    <li class="team__items">Ингвар Нильсон</li>
    <li class="team__items">
      <h3 class="team__name">Екатерина Иванова</h3>
      <img class="team__photo" src="assets/images/team/avatar_4.jpg" alt="" />
      <h4 class="team__prof">Тестировщик</h4>
      <p class="team__text">Отвечает за разработку новых продуктов</p>
    </li>
  </ul>
</section>
