<section class="section section--video">
  <div class="container container--video">
    <div class="sestion__header sestion__header--video">
      <h2 class="section__title section__title--video">как мы работаем</h2>
    </div>
    <div class="video__wrapper">
      <div class="video__player">
        <video
          src="assets/video/videos.mp4"
          class="video__player-unit"
          id="player"
          poster="assets/images/video/video.jpg"
        >
          <source src="assets/video/videos.mp4" type="video/mp4" />
        </video>
        <button class="video__player-img">
          <img
            src="assets/images/video/video__btn-img.png"
            alt=""
            class="play video__btn-img"
          />
        </button>
      </div>
      <div class="video__toolbar">
        <div class="duration">
          <div class="duration__btn-wrap">
            <button class="play duration__img"></button>
          </div>
          <div class="duration__length-wrap">
            <input type="range" class="duration__length" id="durationLevel" />
          </div>
        </div>
        <div class="sound" id="soundBtn">
          <button class="sound__btn">
            <img
              src="assets/images/video/volume.svg"
              alt=""
              class="sound__mic"
              id="dynamic"
            />
          </button>
          <div class="sound__volume">
            <input
              type="range"
              class="duration__length duration__length--other"
              id="micLevel"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
